%table{:class=>"table table-striped table-hover table-condensed"}
	%thead.alert.alert-info
		%tr
			- head_tag.each do |item|
				%th= item
	%tbody
		- (6..23).to_a.map(&:to_s).inject([]){|ac, i| ac<<[i+':00', i];ac}.each do |label, hour|
			%tr
				%th= label
				%th= reserve_tag(now, hour)
				%th= reserve_tag(now+1.day, hour)
				%th= reserve_tag(now+2.day, hour)
				%th= reserve_tag(now+3.day, hour)
				%th= reserve_tag(now+4.day, hour)
